.center {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer {
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 70%;
}

#city {
    font-weight: bold;
}
